/* font */

@font-face {
font-family: 'BTitrBold';
src: url('/fonts/BTitrBold.eot');
src: local('BTitrBold'), url('fonts/BTitrBold.woff') format('woff'), url('fonts/BTitrBold.ttf') format('truetype'), url('BTitrBold.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'BCompset';
src: url('/fonts/BCompset.eot');
src: local('BCompset'), url('fonts/BCompset.woff') format('woff'), url('fonts/BCompset.ttf') format('truetype'), url('BCompset.svg') format('svg');
font-weight: normal;
font-style: normal;
}

/* mosaic container */
.container.tiles {
	padding-top: 30px;
}

/* for New JavaScript Mosaic */
.grid-item { 
    width: 200px; 
    position: absolute
}
.grid-item--width2 { 
    width: 400px; 
    position: absolute
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3 { 
   color:floralwhite;
   position: absolute; 
   bottom: 0; left: 0.0em; width: 200px 
   left: 0; 
   width: 100%;
   background: rgba(0, 0, 0, 0.7);
}

.grid {
    padding-left: 70px
}

/** content **/
.container.content {
  padding-top: 30px;
}

